body{
    margin:0 ;
    background:#4e3143;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items:center;
    

}
form{
    
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

}
div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
input, button{
    margin-top: 10px;
    font-size:14px;
    background-color:#212238;
    color:white;
    /*border-radius: 5px;*/
}
input[type='text'],input[type='password'],textarea{
    width:250px
}
input[type='reset'],input[type='submit']{
    width: 180px;
}
#boutons{
    margin-top: 30px;
}